/* CSS declarations go here */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3%;
    margin-top:1%;
    max-width: 70%;
    max-height: 600px;
}

@font-face{
    font-family: "KBZipaDeeDooDah";
    src: 'KBZipaDeeDooDah.ttf',
}

.text {

    max-width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "KBZipaDeeDooDah";
    font-size: 20px;
}

.next {
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:5%;
}


.back {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:5%;
}


